<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h1>CJ AI Learning Class 2nd</h1>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li class="dropdown">
            <a href="#"class="dropdown-toggle" id="dropdownMenuButton1"  data-bs-toggle="dropdown" aria-expanded="false">Model</a>
            <ul class="dropdown-menu" id="dropdownMenuButton1">
                <li>
                    <a href="/page/PlaneRecNET" class="dropdown-item">PlaneRecNET</a>
                </li>
                <li>
                    <a href="/page/ML_model"class="dropdown-item">ML_model</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/page/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/page/contributor">Contributor</a>
        </li>
    </ul>
</nav>